<article class="wrap">
    <header>
        <h1>ART Cloud</h1>
    </header>
        <nav>
             <form id="search" action="#">
                <input type="text" id="searchInput" name="myInput" onkeypress="handle" placeholder="Find...">
                <button id="searchButton">Search</button>
            </form>
        </nav>
        <aside>
            <h1>Options</h1>
            
            <div class="switch-field">
                <a href="/home"id="radio-three" class="newest"><img src="../assets/imgs/up.svg"></a>
                <a href="/descending" id="radio-five" class="oldest"><img src="../assets/imgs/down.svg"></a>
            </div>

            <div class="custom-select">
                <select class="custom-select">
                    <option value="0">.txt</option>
                    <option value="1">.mp4</option>
                    <option value="2">.pdf</option>
                    <option value="3">.mp3</option>
                    <option value="4">.exe</option>
                    <option value="5">.html</option>
                    <option value="6">.css</option>
                    <option value="7">.js</option>
                </select>
            </div>

            {{!-- <form class="userSection custom-select">
                <select class="select-filetype custom-select">
                    <option>File Type</option>
                    <option value="0">.txt</option>
                    <option value="1">.mp4</option>
                    <option value="2">.pdf</option>
                    <option value="3">.mp3</option>
                    <option value="4">.exe</option>
                    <option value="5">.html</option>
                    <option value="6">.css</option>
                    <option value="7">.js</option>
                </select> --}}

                <div class="uploadWrap">
                    <button class="fileButton">Upload</button>
                    <input class="filePath" type="file">
                </div>
            </form>
            
            <a class="login" href="#"><h6>Login</h6></a>
        </aside>
        <main>
            <div id="innerGrid">
                {{#each files}}
                        <div id="files" class="infoMenu" >
                            <h4>{{this.file_name}}.{{this.file_type}}</h4>
                            
                            <div class="infoHover">
                                <button class="infoBtn">I</button>
                                <div class="infoContent" data-id="{{this.id}}">
                                        {{!-- ID: {{this.id}} --}}
                                        
                                        <h4>Created: {{this.created_at}}</h4>
                                        <button data-id="{{this.id}}" class="deletebutton"><img src="../assets/imgs/Component 1 – 1.svg" class="deleteX"></button>
                                </div>
                            </div>
                        </div>
                {{/each}}
            </div>
        </main>
        <footer>
            <p>
               Made by: Travis Abraham, Ryan Wiggins and Alex Barbati
            </p>

        </footer>
    </article>