<article class="wrap">
    <header>
        <h1>ART Cloud</h1>
    </header>
        <nav>
             <form id="search" action="#">
                <input type="text" id="searchInput" name="myInput" onkeypress="handle" placeholder="Find...">
                <button id="searchButton">Search</button>
            </form>
        </nav>
        <aside>
            <h1>Options</h1>
            
            <div class="switch-field">
                <a href="/"><radio id="radio-three" name="switch-two" value="yes" checked/>
                <label for="radio-three">Home</label></a>
                
                <input type="radio" id="radio-five" name="switch-two" value="no" />
                <label for="radio-five">Oldest</label>
            </div>

            <div class="custom-select">
                <select class="custom-select">
                    <option value="0">.txt</option>
                    <option value="1">.mp4</option>
                    <option value="2">.pdf</option>
                    <option value="3">.mp3</option>
                    <option value="4">.exe</option>
                    <option value="5">.html</option>
                    <option value="6">.css</option>
                    <option value="7">.js</option>
                </select>
            </div>

            <form class="userSection custom-select">
                <select class="select-filetype custom-select">
                    <option>File Type</option>
                    <option value="0">.txt</option>
                    <option value="1">.mp4</option>
                    <option value="2">.pdf</option>
                    <option value="3">.mp3</option>
                    <option value="4">.exe</option>
                    <option value="5">.html</option>
                    <option value="6">.css</option>
                    <option value="7">.js</option>
                </select>

                <div class="uploadWrap">
                    <button class="fileButton">Upload</button>
                    <input class="filePath" type="file">
                </div>
            </form>
            
            <a class="login" href="#">Login</a>
        </aside>
        <main>
            <div id="innerGrid">
                {{#each files}}
                        <div id="files" class="infoMenu" >
                            <button class="infoBtn" onclick="infoClick()" data-id="{{this.id}}">
                                I
                            </button>
                            <h4>{{this.file_name}}.{{this.file_type}}</h4>
                            <div id ="infoDrop" class="dropContent">
                                <ul>
                                    <li><h4>ID: {{this.id}}</h4></li>
                                    <li><h4>Created: {{this.created_at}}</h4></li>
                                    {{!-- <li><button data-id="{{this.id}}" class="deletebutton">X</button></li> --}}
                                </ul>
                            </div>
                        </div>
                {{/each}}
            </div>
        </main>
        <footer>
            <p>
               Made by: Travis Abraham, Ryan Wiggins and Alex Barbati
            </p>

        </footer>
    </article>