<article class="wrap">
    <header>
        <h1>ART Cloud</h1>
    </header>
        <nav>
             <form id="search" action="#">
                <input type="text" id="searchInput" name="myInput" onkeypress="handle" placeholder="Find...">
                <button id="searchButton">Search</button>
            </form>
        </nav>
        <aside>
            <h1>Options</h1>
            
            <div class="switch-field">
                <input type="radio" id="radio-three" name="switch-two" value="yes" checked/>
                <label for="radio-three">Newest</label>
                
                <input type="radio" id="radio-five" name="switch-two" value="no" />
                <label for="radio-five">Oldest</label>
            </div>

            <div class="custom-select">
                <select class="custom-select">
                    <option value="0">.txt</option>
                    <option value="1">.mp4</option>
                    <option value="2">.pdf</option>
                    <option value="3">.mp3</option>
                    <option value="4">.exe</option>
                    <option value="5">.html</option>
                    <option value="6">.css</option>
                    <option value="7">.js</option>
                </select>
            </div>
            
            {{!-- <form><input type="file" class="filepath">
            <select class="select-filetype">
                    <option>File Type</option>
                    <option>.txt</option>
                    <option>.png</option>
                    <option>.pdf</option>
                    <option>.jpeg</option>
                </select>
            <button type="submit" class="filebutton">Sumbit File</button></form> --}}

            <div class="userSection"> 
                <div class="uploadWrap">
                    <button class="upButton">Upload</button>
                    <input type="file" name="upFile">
                </div>
                <a href="#">Login</a>
            </div>

            <input class="submitBtn" type="button" value="Apply" />

            <form><input type="file" class="filepath">
            <select class="select-filetype">
                    <option>File Type</option>
                    <option>.txt</option>
                    <option>.png</option>
                    <option>.pdf</option>
                    <option>.jpeg</option>
                </select>
            <button type="submit" class="filebutton">Sumbit File</button></form>
            
        </aside>
        <main>
            <h3>Main</h3>
                <div id="innerGrid">
                    {{#each files}}
                <p>
                    <div id="files">
                        <h4>File ID: {{this.id}}</h4><br>
                        <h4>File Name: {{this.file_name}}</h4><br>
                        <h4>File Type: {{this.file_type}}</h4><br>
                        <h4>File Created At: {{this.created_at}}</h4><br>
                        <button data-id="{{this.id}}" class="deletebutton">Delete file!</button>
                    </div>
                </p>
            {{/each}}
                </div>
            </section>
        </main>
        <footer>
            <p>
               Made by: Travis Abraham, Ryan Wiggins and Alex Barbati
            </p>

        </footer>
    </article>